.navbar {
    background-color: #FF6C2C !important;
    padding: 20px 0px;
}
.nav-logo{
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}
.nav-logo:hover{
    color: #fff;
}
.nav-links a {
    color: #fff;
    text-decoration: none;
    padding: 0px 20px;
}